<!doctype html>
<html lang="en">
<head>
<%- include ("./headerscript.html") -%>


<script src="../javascripts/pdf/pdf.js"></script>
<script src="../javascripts/pdf/pdf.worker.js"></script>

<script src="../javascripts/huda-table-resizer/huda-table-resizer.js"></script>
<script src="../javascripts/huda-table-editor.js"></script>
<link href="../javascripts/huda-table-resizer/huda-table-resizer.css" rel="stylesheet" />

<script src="../javascripts/pages/page2.js"></script>

</head>
<body>
    <%- include ("./header.html") -%>
    <div class="card-body">
        <div style="width: 100%;">
            
            
        </div>
        <div id="processgif" style="position: absolute; top: 40%; left: 40%; z-index: 1000;"></div>

        <div style="display: table; margin-left: 0%; padding: 0px; z-index: 1000;">
            <div class="btn-container">
                <button id="btn-back" type="button" class="btn btn-secondary">
                    <div class="btn-icon-2 icon-home">
                    </div>
                </button>
            </div>
            <div style="width: 1px;display: table-cell;"></div>
            <div class="btn-container">
                <button id="btn-parseform" type="button" class="btn btn-secondary">
                    <div class="btn-icon icon-form">
                    </div>
                    <div class="btn-text">
                        Parse Form
                    </div>
                </button>
            </div>
            <div style="width: 1px;display: table-cell;"></div>
            <div class="btn-container">
                <button id="btn-autodetect" type="button" class="btn btn-secondary">
                    <div class="btn-icon icon-table">
                    </div>
                    <div class="btn-text">
                        Detect Table
                    </div>
                </button>
            </div>
            <div style="width: 1px;display: table-cell;"></div>
            <div class="btn-container">
                <button id="btn-parsetable" type="button" class="btn btn-secondary">
                    <div class="btn-icon icon-gear">
                    </div>
                    <div class="btn-text">
                        Parse Table
                    </div>
                    
                </button>
            </div>
            <div style="width: 1px;display: table-cell;"></div>
            <div class="btn-container">
                <button id="btn-create-table" type="button" class="btn btn-secondary">
                    <div class="btn-icon icon-manual">
                    </div>
                    <div class="btn-text">
                        Manual Table
                    </div>
                </button>
            </div>
            <div style="width: 1px;display: table-cell;"></div>
            <div class="btn-container">
                <button id="btn-clear-table" type="button" class="btn btn-block btn-secondary">
                    <div class="btn-icon icon-clear">
                    </div>
                    <div class="btn-text">
                        Clear table
                    </div>
                </button>
            </div>
            <div style="width: 1px;display: table-cell;"></div>
            <div class="btn-container">
                <button id="btn-save-table" type="button" class="btn btn-block btn-secondary">
                    <div class="btn-icon icon-save">
                    </div>
                    <div class="btn-text">
                        Save
                    </div>
                </button>
            </div>
            <div style="width: 100px;display: table-cell;"></div>
            <div style="display: table-cell;">
                <button id="btn-prev-image" type="button" class="btn btn-block btn-secondary"><<</button>
            </div>
            <div style="display: table-cell;padding-left: 10px; padding-right: 10px; font-size: 9pt;" id="page-info">Page</div>
            <div style="display: table-cell;">
                <button id="btn-next-image" type="button" class="btn btn-block btn-secondary">>></button>
            </div>
        </div>

        <div style="height: 30px;">

        </div>

        <div style="width: 100%;border: solid 0px #ccc;">
            <div id="right-displayer" style="display: inline-block; width: 45%;height: 1000px;  border: solid 2px #ccc; vertical-align: top;">
                <canvas id="pdf-canvas"></canvas>
                <div id="divPdfTable" style="display: table-cell; width: 50%"></div>
                <div id="form-boxes" style="width: 100%; height: 1000px;"></div>
            </div>

            
            <div style="display: inline-block; width: 5%;"></div>
            <div style="display: inline-block; width: 45%;height: 1000px;  border: solid 0px #ccc;">

                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                      <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#form-content" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Form</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#table-content" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Table</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill" href="#json-content" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false">Json</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content" id="custom-tabs-three-tabContent">
                        <div id="form-content" class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                           Form content
                        </div>
                        <div id="table-content" class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                          table content
                        </div>
                        <div id="json-content" class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel" aria-labelledby="custom-tabs-three-messages-tab">
                          <textarea id="json-area" style="width: 100%; height: 500px; border: solid 1px #ccc;"></textarea>
                        </div>
                      </div>
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

            </div>
        </div>

       
        
        

        

    </div>
        
    </div>
    <%- include ("./footer.html") -%>

</body>

<script>

var DRAG = false;
var PROJECT = "<%=config.PROJECT %>";
var GCS_BUCKET = "<%=config.GCS_BUCKET %>";
var GCS_PDF_FOLDER = "<%=config.GCS_PDF_FOLDER %>";
var GCS_IMAGE_FOLDER = "<%=config.GCS_IMAGE_FOLDER %>";
var GCS_JSON_FOLDER = "<%=config.GCS_JSON_FOLDER %>";
var UPLOAD_BASE_URL = "<%=config.UPLOAD_BASE_URL %>";
var FILE_URI = "<%=uri %>";
var PDF = null;
var CUR_PAGE = 1;
var PAGE=  null;
var PDFJS = null;


function showPDF2(url, callback)
{
    // If absolute URL from the remote server is provided, configure the CORS
    // header on that server.
    //var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf';


    // Loaded via <script> tag, create shortcut to access PDF.js exports.
    var pdfjsLib = window['pdfjs-dist/build/pdf'];

    // The workerSrc property shall be specified.
    pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

    PDFJS = pdfjsLib;

    // Asynchronous download of PDF
    var loadingTask = pdfjsLib.getDocument(url);
    
    loadingTask.promise.then(function(pdf) {
        console.log('PDF loaded');
        PDF = pdf;
        openPage(PDF, 1, callback);

        $("#page-info").html("Page : " + CUR_PAGE + " of " + PDF.numPages);

    }, function (reason) {
    // PDF loading error
        console.error(reason);
        alert(reason.message)
    });
}


function openPage(pdf, pageNumber, callback)
{
    // Fetch the first page
    //var pageNumber = 1;
    pdf.getPage(pageNumber).then(function(page) {
        console.log('Page loaded');
        PAGE = page;
        
        var scale = 1;
        var viewport = page.getViewport({scale: scale});

        // Prepare canvas using PDF page dimensions
        var canvas = document.getElementById('pdf-canvas');
        var context = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
            canvasContext: context,
            viewport: viewport
        };
        var renderTask = page.render(renderContext);
        renderTask.promise.then(function () {
            console.log(canvas.toDataURL('image/jpeg'));
            console.log('Page rendered');
            if(callback != null)
                callback();
        });
    });
}



$(document).ready(function()
{
    Page2.PROJECT = "<%=config.PROJECT %>";
    Page2.GCS_BUCKET = "<%=config.GCS_BUCKET %>";
    Page2.GCS_PDF_FOLDER = "<%=config.GCS_PDF_FOLDER %>";
    Page2.GCS_IMAGE_FOLDER = "<%=config.GCS_IMAGE_FOLDER %>";
    Page2.GCS_JSON_FOLDER = "<%=config.GCS_JSON_FOLDER %>";
    Page2.UPLOAD_BASE_URL = "<%=config.UPLOAD_BASE_URL %>";
    Page2.FILE_URI = "<%=uri %>";

    $(document.body).on("mouseover", function(evt){
        //console.log(evt.pageX)
    })
    $("#processgif").hide();
    var uri = Page2.FILE_URI;
    console.log("uri")
    console.log(uri)

    //uri = decodeURIComponent(uri);
    uri = "/web/download/" + encodeURIComponent(uri);

    console.log(uri);

    $("#processgif").show();
    Page2.showPDF2(uri, function()
    {
        Page2.retrieveJson(function(){
            Page2.retrieveResultJson(function(json){

                console.log("result")
                console.log(json)
                Page2.displayResultJson(json);
                $("#processgif").hide();
            }, function(err){
                $("#processgif").hide();
            })
           
        });
        
    });

    $("#btn-back").on("click", function(){
        location = "/web";
    });

    $("#btn-next").on("click", function()
    {
        $("#processgif").show();
        Page2.saveTable("divPdfTable", function(){
            let totalPage = Page2.PDF.numPages;
            let url = "/web/page3?totalpage=" + totalPage + "&uri=<%=uri%>";

            $("#processgif").hide();
            location = url;
        });
    })

    $("#btn-save-table").off("click");
    $("#btn-save-table").on("click", function(){
        $("#processgif").show();
        Page2.savePDFImage(function(response){
            Page2.saveTable("divPdfTable", function(){
                Page2.saveResult(function(){
                    $.notify("Saved", "success")
                    $("#processgif").hide();
                })
                
            })
        })

        
    });

    $("#btn-prev-image").on("click", function(){
        Page2.saveTable("divPdfTable", function()
        {
            Page2.CUR_PAGE--;
            console.log("CUR_PAGE");
            console.log(CUR_PAGE);
            if(Page2.CUR_PAGE < 1)
                Page2.CUR_PAGE = 1;
            $("#page-info").html("Page : " + Page2.CUR_PAGE + " of " + Page2.PDF.numPages);
            Page2.openPage(Page2.PDF, Page2.CUR_PAGE);
            Page2.retrieveJson();
        });

    })

    $("#btn-next-image").on("click", function(){
        Page2.saveTable("divPdfTable", function()
        {
            TableResizer.clearTable("divPdfTable")
            Page2.CUR_PAGE++;
            console.log("CUR_PAGE");
            console.log(Page2.CUR_PAGE);
            if(Page2.CUR_PAGE > Page2.PDF.numPages)
                Page2.CUR_PAGE = Page2.PDF.numPages;
            $("#page-info").html("Page : " + Page2.CUR_PAGE + " of " + Page2.PDF.numPages);
            Page2.openPage(Page2.PDF, Page2.CUR_PAGE);        
            Page2.retrieveJson();
        });

    })

    $("#btn-autodetect").on("click", function(){
        //TableResizer.createResizedTable("divPdfTable", 5, 5);
        Page2.autoDetect();
    })

    $("#btn-create-table").on("click", function(){
        //TableResizer.createResizedTable("divPdfTable", 5, 5);

        Page2.savePDFImage(function(response)
        {
            console.log(response);
            let imageurl = response.payload;

            TableResizer.createResizedTable("divPdfTable", 7, 10);
            $("#divPdfTable").css("left", Page2.TABLELEFT)
            $("#divPdfTable").css("top", Page2.TABLETOP)
        });
    })

    $("#btn-clear-table").on("click", function(){
        TableResizer.clearTable("divPdfTable");
    })

    $("#btn-parseform").on("click", function(){
        
        $("#processgif").show();
        Page2.parseForm(function(forms){
            Page2.displayForm(forms)
            $("#processgif").hide();
        });
    })

    $("#btn-parsetable").on("click", function(){
        
        $("#processgif").show();
        Page2.ocr(Page2.CUR_PAGE, function(){
            $("#processgif").hide();
        });
    })

})


function redirectPost(url, param)
{
    var form = $('<form action="' + url + '" method="post">' +
    '<input type="text" name="parameter" value="' + JSON.stringify(param) + '" />' +
    '</form>');
    $('body').append(form);
    form.submit();
}






</script>
</html>